{
  "plugins": [
    "transform-vue-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}